body{
    background:url(../images/seinfeldbg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


.card{
    background:rgb(255, 255, 255);
    opacity: .9;
}

#logo{
    width: 200px;
}

.questionblock{
    margin-top: 70px;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    color: rgb(221, 2, 2);
    opacity: 1;
}

radio{
    font-size: 40px;
}

li{
    margin-top: 20px;
    margin-left: 0;
    display: inline-block;
    font-size: 20px;
    padding-right: 70px;
    color: rgb(204, 192, 20);
    opacity: 1;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
  }

  input[type="radio"] {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
    transform: scale(1);
  }

  input{
      margin-right: 10px;
  }

  .btn{
      margin-top: 40px;
      font-size: 40px;
  }

  #score{
      margin-top: 100px;
      width: 800px;

  }

  #score h1{
    display: inline-block;
    padding-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
  }

  #scorestyle{
      font-size: 80px;
      text-align: center;
  }

  #scoreif{
      color: white;
  }

  h3{
      font-size: 70px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
    font-style: italic;
  }
/**********RELOAD*************/
  /* h4{
    color: rgb(228, 228, 228);
    margin-top: 150px;
    font-size: 40px;
    text-align: center;
} */

  /**********************************************/
  @media screen and (max-width: 580px) {

    html{
        background: black;
    }
    body{
        width: 100%;
        height: 100%;
        background-image: url(../images/seinfeldbg1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .card {
        margin-top: 50px;
    }

    #logo{
        width: 40%;
    }

    h1{
        font-size: 140%;
        
    }
    .questionblock{
        margin-top: 10px;
    }
    h2{
        font-size: 100%;
    }

    li{
        font-size: 80%;
    }

    #score{
        margin-top: -10%;
        width: 300px;
  
    }
    
    #scoreif{
        margin-top: -30%;
        font-size: 10px;
    }
    
    #score h1{
        font-size: 30px;;
      }

      #scorestyle{
          font-size: 200%;
      }

      h3{
        font-size: 200%;
        text-align: center;
        margin-top: 140%;
    }

    .btn{
        margin-top: 40px;
        font-size: 20px;
    }
    /* h4{
        color: rgb(180, 180, 180);
        margin-top: 80px;
        font-size: 100%;
        text-align: center;
    } */
}